@import '~antd/lib/style/themes/default.less';

.homeContainer {
  display: flex;
  height: 100%;
  padding-right: 20px;
  padding-left: 100px;

  .asideStyle {
    // padding: 16px 16px;
    overflow-y: auto;
    background-color: #fff;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }
  .asideItem {
    padding: 8px;
    // height: 40px;
    // line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  .active {
    color: #fff;
    background-color: #903eb0;
  }
}
